.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff773;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar_content{
    /* padding: 3rem 4rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 22rem; */
}

.navbar_image img{
    /* background-color: pink; */
    display: flex;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.navbar_image_logo img{
    /* background-color: green; */
    width: auto;
    height: 5rem;
    flex: 0;
    align-items: center;
    justify-content: center;
    transform: translateX(270%);
}

.container_links{
    width: 40%;
    /* background-color: rebeccapurple; */
}

.navbar_content ul{
    display: flex;
    /* align-items: end; */
    justify-content: space-between;
    
}

.navbar_links li{
    display: flex;
}