.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_item{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}
.about h2{
    border-bottom: 5px solid
}


/* .about_left{
    max-width: 40rem;
    flex: 1;
} */

.about_left img{
    width: auto;
    height: 18rem;
    max-width: 40rem;
    flex: 1;
}

.about_right {
    background-image: var(--bg-HeAb-image);
    border: 5px solid gray;
    border-radius: 10px;
    flex: 1;
    max-width: 66rem;
}

